<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960478175221-hkua9umllra8vito4fi56ilte3gl10kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960478175221-hkua9umllra8vito4fi56ilte3gl10kd</string>
	<key>API_KEY</key>
	<string>AIzaSyCAnIP-JZwywH9gQYL_klG_1Sq3U2hQ3c8</string>
	<key>GCM_SENDER_ID</key>
	<string>960478175221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medical.inventory-management</string>
	<key>PROJECT_ID</key>
	<string>inventory-system-80b93</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-system-80b93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960478175221:ios:7953d4bf0b29db4036cabc</string>
</dict>
</plist>